.table {
  border: 5px groove rgb(50, 175, 248);
  background: linear-gradient(#abdcff, #66b3eb);
  font-family: Arial, Helvetica, sans-serif;
}

.accept {
  background: lightgreen;
}

.reject {
  background: lightcoral;
}
